@import 'assets/style/colors';
.foodlist {
  padding: 20px 40px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  flex-basis: 100%;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .foodlist {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .foodlist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .foodlist {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.foodlist::-webkit-scrollbar {
  display: none;
}
.foodlist-item {
  margin: 1rem;
  height: 20vh;
  color: $color-primary;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  img {
    width: 9rem;
    margin: auto;
    object-fit: cover;
  }
  &-name {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-bottom: 0.3rem;
  }
  &-price {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
}
