@import 'assets/style/colors';
.payment {
  height: 100vh;
  color: $color-primary;
  display: grid;
  grid-template-rows: 0.5fr 7fr;
}
.payment_header {
  padding: 1.7rem;
  h1 {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  span {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.payment_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.payment_item {
  padding: 3rem;
  border: 1px solid $color-primary;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
