@import 'assets/style/colors';

.cart {
  height: 100%;
  width: 100vw;
}
.cart-main {
  height: 80%;
  padding: 1rem;
  background-color: $color-gray;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  color: $color-black;
  font-weight: 700;
  font-size: 1.2rem;
  .item-count {
    background-color: $color-primary;
    color: $color-white;
    padding: 0.1rem 1.2rem;
    border-radius: 0.2rem;
    font-size: 1rem;
  }
}

.cart-button {
  display: flex;
  height: 20%;
  button {
    flex: 1 1 40%;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 700;
  }
  button:nth-child(1) {
    background-color: $color-black-light;
  }
  button:nth-child(2) {
    background-color: $color-primary;
  }
}

.cart-item-wrapper {
  display: flex;
  width: 100%;
  /* 가로 스크롤 */
  overflow: auto;
  white-space: nowrap;
}

.cart-item-wrapper::-webkit-scrollbar {
  display: none;
}
