@import '../../../assets/style/colors';

.navbar-line {
  margin-top: 0.5rem;
  display: inline-block;
  height: 0.4rem;
  background-color: $color-gray;
  position: relative;
}
.navbar-line__select {
  position: absolute;
  left: 10%;
  z-index: 10;
  height: inherit;
  width: 20%;
  background: $color-primary;
  transition: all 1s;
}
