@import 'assets/style/colors';
.order {
  height: 100vh;
  color: $color-primary;
  display: grid;
  grid-template-rows: 0.5fr 6fr 1fr;
}
.order-header {
  padding: 1.7rem;
  h1 {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  span {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.order-item-list {
  display: flex;
  flex-direction: rows;
  width: 100%;
}
.order-item {
  margin-bottom: 1rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid $color-primary;
  img {
    width: 5rem;
    margin: auto;
    object-fit: cover;
  }
  .order-item-detail {
    width: 70%;
    .order-item-name {
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
    }
    .order-item-price {
      font-size: 1rem;
    }
    .order-count-control {
      button {
        width: 30%;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 1rem;
      }
    }
  }
}

//footer
.order-button {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  color: $color-white;
  span:nth-child(1) {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
  span:nth-child(2) {
    font-size: 1.6rem;
  }
}
