@import 'assets/style/colors';

.navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  .navbar-item-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    font-size: 0.8rem;
  }
  .right-arrow {
    padding-right: 0.8rem;
    text-align: right;
  }
  .left-arrow {
    padding-left: 0.8rem;
  }
  .arrow-button {
    stroke: $color-gray;
    cursor: pointer;
  }
  .arrow-button:hover {
    stroke-opacity: 0.6;
    stroke: $color-primary;
  }
}
