$color-gray-light: #eee;
$color-gray-dark: #999;
$color-gray: #e9e9e9;
$color-white: #ffffff;
$color-off-white: #fcfcfc;
$color-black: #1e2222;
$color-black-light: #2d2d2d;
$color-placeholder: #c1c5c5;
$color-primary: #18234a;
$color-secondary: #18234a;
$color-blue-dark: #778796;
$color-secondary: #7589bd;
