@import 'assets/style/colors';
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > section {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: $color-white;
  display: grid;
  grid-template-rows: 8fr 1fr;
}
.modal.openModal {
  display: flex;
  align-items: center;
}
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.food-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 15rem;
  }
  .food-name {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .food-price {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.option-modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    background-color: $color-primary;
    color: $color-white;
  }
}

.food-option-container {
  display: flex;
  flex-direction: column;
}
